<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot and Json Web Token Example</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Spring Boot and JWT</a>
</nav>

<main role="main" class="container">

    <div>current username: <span th:text="${username}"></span></div>
    <div><a href="/logout">Logout</a></div>

</main>

</body>
</html>
